[alias]
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    br = "!f() { \
        git branch $@; \
        git config \"branch.$1.remote\" origin; \
        git config \"branch.$1.merge\" \"refs/heads/$1\"; \
    }; f"
[user]
    email = marc.hesse@gmail.com
    name = grey
[push]
    default = current
[core]
    editor = vim
    pager = less -x1,3
